<%%= form_for <%= item_path :instance_variable => true %> do |f| %>
  <%% if f.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(f.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <%% f.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>
<%- for attribute in model_attributes -%>
  <p>
    <%%= f.label :<%= attribute.name %> %><br />
    <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
  </p>
<%- end -%>
  <p><%%= f.submit %></p>
<%% end %>
